* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #425b7f;
  }
  nav{
    background-color: #1c355a;
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Cairo', sans-serif; */
  }
  #logo{
    font-size: 40px;
    text-decoration: none;
    color: #afcfff;
  }
  .search-box{
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1c355a;
  height: 57px;
  border-radius: 40px;
  padding: 9px;
  }
  .search-box:hover > .search-btn{
  background: #afcfff;
  color: #1c355a;

  }

  .search-box:hover > .search-text{
  width: 240px;
  padding: 0 6px;
  }

  .search-btn{
  color: #afcfff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1c355a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s;
  }

  /* #search-icon{
      width: 23px;
      height: 23px;
  } */
  .search-text{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #afcfff;
  font-size: 16px;
  transition: 0.9s;
  line-height: 40px;
  width: 0px;
  }
  /* #coin-logo{
    margin-right: 0px;
  } */
  .container{
    padding: 18px;
    border-radius: 17px;
    /* background-color: #648fce; */
    /* border: dashed black; */
    /* color: rgb(165, 216, 159); */
    margin-top: 230px;
    /* text-align: center; */
    width: 53%;
    color: #062e55;
    font-family: 'Play', sans-serif;
  }
  #coin-logo{
    /* border-right: solid black; */
    /* border-right: solid rgb(202, 188, 188); */
    margin-top: 5px;
    font-size: 27px;
    text-align: center;
    /* margin-top: 3px; */
  }
  #coin-logo img{
    width: 44px;
    margin-right: 21px;
    margin-top: 0px;
    opacity: 0.85;
  }

  #coin-24{
    text-align: center;
    font-size: 21px;
    margin: 14px 0px 0px -160%;
  }

  #coin-prics, #market-cap, #total-val{
    /* background-color: rgb(77, 73, 73); */
    font-size: 18px;
    /* border: dashed #062e55; */
    text-align: center;
    margin-top: 36px;
    /* border-right: solid rgb(202, 188, 188); */
  }

header h1 {
  color: #130101;

  font-size: 28px;
  font-weight: 900;
  line-height: 60px;

  text-align: center;
  text-transform: uppercase;
}

.sort-option {
  display: flex;
  justify-content: stretch;

  width: 100%;
  max-width: 1100px;

  margin: 5% auto 0px;
  position: sticky;
}

main .sort-option button {
  flex: 1 1 20%;
  flex-basis: 10%;
  appearance: none;
  background-color: #6588bb;
  color: #d8dce2;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 15px 0px;
  margin: 0px 8px;
  cursor: pointer;
  text-align: center;

  /* position: sticky;
  top: 30px; */
}
main .list-headers {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1100px;

  margin: 30px auto 0px;
  padding: 0px 15px;

  font-weight: 700;
  text-transform: uppercase;
}
main .list {
  /* display: block; */

  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}
main .list .list-item {
  display: flex;
  text-align: left;

  justify-content: space-between;

  width: 100%;
  /* max-width: 650px; */
  margin: 15px 0px;
  padding: 0px 15px;
  text-align: left;

  border: 1px solid #171717;
  border-radius: 8px;
}

.coinTable th {
  position: sticky;
  top: 0;
  background-color: #c7afaf;
}

#coinsListDiv {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1100px;

  margin: 17px auto 0px;
}
/* main .list .list-item div:nth-child(2),
main .list .list-item div:nth-child(3),
main .list .list-item div:nth-child(3),
main .list .list-item div:nth-child(4) {
  flex: 1;
} */
/* .sort-rank {
  padding: 0px 0px 30px 0px;
  border: 1px solid #171717;
} */
.coinImg {
  width: 28px;
  padding: 5px;
}
th,
td {
  padding: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #c6d2de;
}

td,
th {
  border: 1px solid #6d8fc0;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

footer{
  background-color: #1c355a;
  color: #afcfff;
  margin: 40px 0px -17px 0px;
  padding: 20px;
  text-align: center;
}

@media (max-width: 993px) {
  #coin-24{
    margin: 23px 0px 0px 0px;
  }
}

/* #price24{
  color: red;
} */
