* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
}
/* header {
  width: 100vw;
  height: 60px;

  background-color: #171717;
} */
header h1 {
  color: #130101;

  font-size: 28px;
  font-weight: 900;
  line-height: 60px;

  text-align: center;
  text-transform: uppercase;
}
main .sort-option {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1100px;

  margin: 30px auto;
}

main .sort-option button {
  flex: 1 1 33%;
  appearance: none;

  background-color: #f3f3f3;

  border: none;
  border-radius: 8px;
  outline: none;

  padding: 15px 0px;
  margin: 0px 8px;

  cursor: pointer;
}
main .list-headers {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 1100px;

  margin: 30px auto 0px;
  padding: 0px 15px;

  font-weight: 700;
  text-transform: uppercase;
}
main .list {
  display: block;

  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}
main .list .list-item {
  display: flex;
  text-align: left;

  justify-content: space-between;

  width: 100%;
  /* max-width: 650px; */
  margin: 15px 0px;
  padding: 0px 15px;
  text-align: left;

  border: 1px solid #171717;
  border-radius: 8px;
}

.coinTable {
  text-align: left;

  justify-content: space-between;

  width: 100%;
  max-width: 1100px;
  margin: 15px 0px;
  padding: 0px 15px 400px 0px;
  text-align: left;

  border: 1px solid #171717;
  border-radius: 8px;
}

/* main .list .list-item div:nth-child(2),
main .list .list-item div:nth-child(3),
main .list .list-item div:nth-child(3),
main .list .list-item div:nth-child(4) {
  flex: 1;
} */
/* .sort-rank {
  padding: 0px 0px 30px 0px;
  border: 1px solid #171717;
} */
.coinImg {
  width: 28px;
  padding: 5px;
}
th,
td {
  padding: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
