*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #1b1d20fc;
}
nav {
  background-color: none;
  font-family: "Orbitron", sans-serif;
  /* font-family: 'Cairo', sans-serif; */
}
#logo {
  font-size: 35px;
  text-decoration: none;
  color: #949ea8;
  /* margin-left: 7%; */
}
.search-box {
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ede8e814;
  height: 57px;
  border-radius: 40px;
  padding: 9px;
}

input {
  background-color: #ede8e800 !important;
}

.search-btn {
  color: #747070;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2e2f31;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.9s;
  border: 2px solid #747070;
}

.search-text {
  border: none;
  /* background: none; */
  outline: none;
  float: left;
  /* width: 0px;
  padding: 0; */
  width: 240px;
  padding: 0 6px;
  color: #a9a9a9;
  font-size: 16px;
  transition: 0.9s;
  line-height: 40px;
}

.container {
  padding: 18px;
  border-radius: 17px;

  margin-top: 230px;

  width: 53%;
  color: #b5cce3;
  font-family: "Play", sans-serif;
}
#coin-logo {
  margin-top: 5px;
  font-size: 27px;
  text-align: center;
}
#coin-logo img {
  width: 44px;
  margin-right: 21px;
  margin-top: 0px;
  opacity: 0.85;
}

#coin-24 {
  text-align: center;
  font-size: 21px;
  margin: 14px 0px 0px -160%;
}

#coin-prics,
#market-cap,
#total-val {
  font-size: 18px;
  text-align: center;
  margin-top: 36px;
}

header h1 {
  color: #130101;
  font-size: 28px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.sort-option {
  display: flex;
  justify-content: stretch;

  width: min(90%, 70.5rem);
  max-width: 1100px;

  margin: 5% auto 0px;
  position: sticky;
}

main .sort-option button {
  flex: 1 1 5%;

  appearance: none;
  background-color: #1d1f22;
  border: 1px solid rgb(90 91 93);
  color: #d8dce2;

  border-radius: 8px;
  outline: none;
  padding: 15px 0px;
  margin: 0px 8px;
  cursor: pointer;
  text-align: center;
}

main .list-item {
  display: flex;
  text-align: left;

  justify-content: space-between;

  width: 100%;
  /* max-width: 650px; */
  margin: 15px 0px;
  padding: 0px 15px;
  text-align: left;

  border: 1px solid #171717;
  border-radius: 8px;
}

#coinsListDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  width: min(90%, 70.5rem);
  max-width: 1100px;

  margin: 17px auto 0px;
}

.coinImg {
  width: 48px;
  padding: 8px 10px;
}
th,
td {
  padding: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #c6d2de;
}

td,
th {
  border: 1px solid rgb(90 91 93);
  text-align: left;
  padding: 8px;
}

footer {
  background-color: #000000b0;
  color: #747577;
  margin: 40px 0px -17px 0px;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #868e99;
}

@media (max-width: 993px) {
  #coin-24 {
    margin: 23px 0px 0px 0px;
  }
}
@media (max-width: 610px) {
  .search-btn {
    margin-top: -41px;
  }
}

@media screen and (max-width: 600px) {
  .sort-option {
    max-width: 350px;
  }
}
@media screen and (max-width: 600px) {
  /*  */
  .coinImg {
    width: 24px;
    padding: 0px;
    margin: -3px 10px 0px 0px;
  }

  #coin_rank_btn {
    display: none;
  }
  #coin_24h_volume_btn {
    display: none;
  }

  #logo {
    margin: auto;
    text-align: center;
  }
  main .sort-option button {
    padding: 5px;
    margin: 0px 3px;
  }
  #coin_marketCap_btn {
    content: "M-Cap ▲";
  }
  td {
    display: block;
  }
  td:nth-child(6) {
    margin-bottom: 10px;
  }
  td:first-child {
    display: none;
  }
  td:nth-child(2) {
    background-color: #ede8e814;
    text-align: center;
    font-weight: bold;
  }
  td:nth-child(3)::before {
    content: "Price: ";
  }
  td:nth-child(5) {
    display: none;
  }
  td:nth-child(4)::before {
    content: "24H Change: ";
  }

  td:nth-child(6)::before {
    content: "Market Cap: ";
  }

  td {
    text-align: right;
  }
  td::before {
    float: left;
    font-weight: bold;
  }
}
